* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/* GENERAL PROPERTIES */
/* float */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* position */
.pos-rel {
    position: relative;
}

/* container */
.container {
    width: 85%;
    margin: 0 auto;
}

.container-tight{
    width: 70%;
    margin: 0 auto;
}

/* button */
.btn{
    padding: 10px 20px;
    display: inline-block;
}

.btn.bl-wh{
    background-color: #0061ff;
    color: white;
}

.btn.wh-bk{
    background-color: white;
    color: black;
}

.btn.none-bk{
    background-color: none;
    color: black;
    border: 1px solid black;
}

.btn.bl-wh:hover {
    background-color: #2d7dfd;
}

.sec-plan .col .btn{
    margin: 30px 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.pointer:hover{
    cursor: pointer;
}

/* columns */
.col{
    float: left;
    width: calc((100% - 140px) / 3);
    border: 1px solid #d0d0d3;
}

.col.middle{
    margin: 0 70px;
}


/* header properties */
header.pos-fix {
    position: fixed;
    top: 0;
    z-index: 999;
}

.left-side, .right-side{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    line-height: 80px;
}

.left-side {
    left: 0;
    padding-left: 20px;
}

.right-side {
    right: 0;
    padding-right: 20px;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #d0d0d3;
}

header .logo img{
    height: 32px;
    vertical-align: middle;
}

header ul li{
    display: inline-block;
    margin: 0 30px;
    position: relative;
}

/* inizio proprietà - proprietà per creare le linee sotto quando selezionate da abbinare all'hover */
header nav>ul>li:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
}

header nav>ul>li:hover:after{
    opacity: 1;
}
/* fine proprietà */


header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header .right-side .btn{
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}

/* header drop down menu */
header .dropdown{
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgb(250, 250, 250);
    padding: 20px 0;
}

header .dropdown ul li{
    display: block;
    padding: 0 30px;
    margin: 0;
    line-height: 35px;
}

header .dropdown ul li a{
    font-size: 16px;
    font-weight: 400;
}

header ul li:hover .dropdown{
    display: block;
}

header .dropdown ul li:hover{
    background-color: lightgray;
}


/* --------JUMBOTRON---------- */
.jumbotron .cont-bgc {
    background-color: #b4d0e7;
    padding-top: 120px;
}

h1{
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 30px;
}

.jumbo-left {
    width: 30%;
}

.jumbotron p {
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 22px;
}

.jumbo-left .btn{
    margin-bottom: 15px;
}

.jumbo-left span{
    display: block;
}

.jumbo-left i{
    display: inline-block;
    font-size: 50px;
    margin: 30px 0 100px 0;
}


/* jumbo-right */
.jumbo-right{
    position: absolute;
    top: 350px;
    right: 20px;
}


/* ------------------MAIN-------------------- */
/* sezione piani tariffari top */
main section{
    margin-bottom: 120px;
}

.sec-plan .top{
    margin-top: 180px;
    padding-bottom: 20px;
}

.sec-plan .container-tight>*{
    margin-bottom: 20px;
}

.sec-plan .top h2{
    font-size: 58px;
    margin-bottom: 35px;
}

.sec-plan .fake-check:last-child{
    margin-left: 20px;
}

.sec-plan .fake-check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
}

.sec-plan .fake-check.checked{
    border: 5px solid blue;
}


/* imposto misura fissa non avendo per ora altri metodi per farlo anche se non mi piace */
.sec-plan .center{
    height: 900px;
}

.sec-plan .center .col{
    height: 100%;
}
/* fine impostazione altezza */

/* columns */
.title-top{
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 0;
}

.sec-plan .content{
    padding: 30px;
    height: 100%;
}

.sec-plan .content > *:not(.btn, hr){
    padding: 10px 0;
}

.sec-plan .content strong.plan-type{
    font-size: 40px;
}

.sec-plan .content strong.plan-bigtxt{
    font-size: 20px;
}

.sec-plan .content .plan-period{
    color: lightgray;
}

hr {
    width: 20%;
    border: 1px solid #d0d0d3;
    margin: 20px 0;
}

.sec-plan .content ul li{
    margin-left: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.sec-plan .content ul li::marker{
    content: '\2713';
    color: blue;
}

/* sec-plan - bottom */
.sec-plan .bottom{
    border: 1px solid #d0d0d3;
}

.sec-plan .bottom .box{
    width: 70%;
}

.sec-plan .bottom .box > *:not(:last-child){
    padding-bottom: 20px;
}

.sec-plan .bottom .btn{
    margin-top: 10px;
}

/* --------SEC-PARTNER---------- */
.sec-partner img{
    width: 55%;
    vertical-align: middle;
}

.sec-partner .box{
    width: 35%;
    display: inline-block;
    margin-left: 80px;
    vertical-align: middle;
}

.sec-partner .box>*{
    margin-bottom: 20px;
}


/* --------SEC-OPERATION---------- */
.sec-operation .row{
    margin-bottom: 50px;
}

.sec-operation .col{
    border: none;
}

.sec-operation h2{
    font-size: 55px;
    margin-bottom: 40px;
}

.sec-operation img{
    width: 100%;
}

.sec-operation .row .col h3{
    font-size: 30px;
    margin: 20px 0;
}

.sec-operation .row .col .description{
    font-size: 20px;
    line-height: 30px;
}

.sec-operation .row .col .description a{
    color: black;
}


/* --------SEC-CUSTOMER---------- */
.sec-customer{
    margin-bottom: 0;
}

.sec-customer h2{
    font-size: 55px;
    margin-bottom: 30px;
}

.sec-customer .container-tight a{
    font-size: 20px;
}

/* banners part */
.sec-customer .banner{
    height: 15vw;
}

.sec-customer .banner-container{
    margin-top: 30px;
}

.sec-customer .banner-col-center{
    width: calc(100% - 60vw);
    background-color: #f5f5f5;
}

.sec-customer .banner-col{
    width: 30vw;
    min-width: 30vw;
}

.sec-customer .banner-col .banner-box .banner{
    width: 15vw;
    position: relative;
}

.sec-customer .banner-col .banner-box .banner:hover{
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.sec-customer .banner-col .banner-box .banner:hover svg{
    width: calc(50% + 10px);
}

.sec-customer .banner-col .banner-box .banner svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    fill: #fff;
}



/* banner background color */
#designit{
    background-color: #a2d39b;
}

#asu{
    background-color: #61082b;
}

#asu svg{
    width: 30%;
}

.sec-customer .banner-col .banner-box #asu.banner:hover svg{
    width: calc(30% + 6px);
}

#uf{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hearst-corp{
    background-color: #b4d0e7;
}

#lonely-planet{
    background-color: #0d2481;
}

#clear-channel{
    background-color: #ffd830;
}


/* central part */
.banner-col-center{
    padding: 60px;
    overflow-y: auto;
}

.banner-col-center img{
    width: 150px;
    margin: 20px 0;
}

.banner-col-center hr{
    width: 60px;
}

.banner-col-center p{
    margin: 50px 0;
    font-size: 16px;
}

.banner-col-center span{
    font-size: 14px;
}


/* --------SEC-TRIAL---------- */
.sec-trial{
    padding: 150px 0;
    background-color: #b4d0e7;
}
.sec-trial h2{
    font-size: 55px;
    color: #61082b;
    display: inline-block;
    width: 65%;
}

.sec-trial .btn{
    vertical-align: top;
    margin-left: 120px;
    font-size: 18px;
}


/* --------SEC-QUESTION---------- */
.sec-question h2{
    font-size: 55px;
    margin-bottom: 50px;
}

.sec-question ul li{
    list-style: none;
    border-top: 1px solid #d0d0d3;
    padding: 30px 0;
}

.sec-question ul li:last-child{
    border-bottom: 1px solid #d0d0d3;
}

.sec-question h4{
    font-weight: 400;
    font-size: 20px;
}

.sec-question .arrow-list{
    color: black;
    margin-right: 50px;
}

.sec-question .arrow-list.active{
    display: none;
}

.sec-question p{
    display: none;
    color: #657583;
    margin-top: 30px;
    font-size: 18px;
}

.sec-question ul li:hover .arrow-list.not-active{
    display: none;
}
.sec-question ul li:hover .arrow-list.active{
    display: block;
}
.sec-question ul li:hover p{
    display: block;
}




/* --------FOOTER---------- */
footer{
    background-color: black;
    /* height: 500px; */
    color: white;
}

footer>.container-tight{
    padding: 150px 0;
}

/* footer top */
.foot-col{
    width: calc(100% / 5);
}

.foot-col h5{
    font-size: 20px;
    margin-bottom: 30px;
}

.foot-col ul li{
    list-style: none;
    line-height: 30px;
}

.foot-col ul li a{
    text-decoration: none;
    color: white;
}

.foot-col ul li a:hover{
    text-decoration: underline;
}

/* footer hr */
footer hr{
    width: 100px;
    margin: 100px 0 50px;
}

/* footer bottom */
.footer-bottom i:first-child{
    color: #c0c6cb;
}

.footer-bottom span{
    color: #666666;
}

.footer-bottom i:last-child{
    color: #40464b;
}


/* ------INIZIO ELEMENTI FISSI------ */
/* chat */
.chat.pos-fix{
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #0d2481;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

.chat.pos-fix i{
    font-size: 30px;
    padding: 10px;
}





/* ------ DEBUG - DA RIMUOVERE ------ */
/* .debug header {
    background-color: red;
}

.debug .left-side{
    width: 50%;
    height: 50%;
    background-color: green;
}

.debug .right-side{
    width: 50%;
    height: 50%;
    background-color: blue;
}

.debug header .logo{
    background-color: yellow;
} */

/* .debug .jumbotron {
    height: 2000px;
} */


/* .debug main section{
    height: 1500px;
    border: 1px solid black;
} */

/* .debug main .sec-partner{
    height: 500px;
} */

/* .debug main .sec-operation{
    height: 500px;
} */

/* .debug main .sec-customer{
    height: 500px;
} */

/* .debug main .sec-trial{
    height: 500px;
} */

/* .debug main .sec-question{
    height: 500px;
} */

/* .debug main section:nth-child(odd){
    background-color: lightcoral;
}

.debug main section:nth-child(even){
    background-color: #b4d0e7;
} */

/* .debug .sec-plan .top{
    height: 100px;
    background-color: violet;
} */

/* .debug main section.sec-plan {
    background-color: #fff;
}

.debug main section.sec-partner {
    background-color: #fff;
}

.debug main section.sec-operation {
    background-color: #fff;
} */

/* .debug .banner-container{
    border: 1px solid black;
} */

/* .debug main section.sec-customer .banner-col-center{
    height: 30vw;
    background-color: grey;
} */

/* .debug main .sec-customer .banner{
    height: 15vw;
    background-color: red;
    border: 1px solid black;
} */